.scroll-down-container {
    position: absolute;
    bottom: 0.5rem;
    left: 48%;
    transform: translateX(-50%);
    z-index: 990;
    cursor: pointer;
}

.scroll-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: white;
    border: 1.5px solid rgb(255, 255, 255);
    animation: bounce 1.5s infinite ease-in-out;
    transition: background-color 0.3s ease;
}

.scroll-dot:hover {
    background-color: rgba(100, 135, 250, 0.231);
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}