.btn {
    font-family: var(--button-font);
    font-weight: bold;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    color: var(--background-color);
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.04);
}

.btn-primary {
    background-color: var(--main-color);
}

.btn-secondary {
    background-color: rgb(103, 193, 193);
}

.btn-destructive {
    background-color: rgb(243, 2, 2);
}

.btn-disabled {
    background-color: rgb(53, 51, 49);
}