
.socialLinks {
 display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
  margin-left: 1rem;

}


.socialLinks.home {
  margin-top: 1rem;
  margin-left: 10.3rem;
}

.socialLinks.con {
 margin-top: 3rem;
 margin-left: 3rem;

}

.socialLinks.right {
  justify-content: flex-end;
}

.socialLinks.row {
  flex-direction: row;
}

.socialLinks.column {
  flex-direction: column;
}

.socialLinks a {
 padding: 1rem 0 3rem 2rem;
  color: var(--socialLink-color);
  transition: transform 0.2s ease;
}

.socialLinks a:hover {
  transform: scale(1.13);

}