.title-wrapper {
  margin-bottom: 50px;
  text-align: center;
  width: 100%; 
}

.title-heading {
  font-size: 2rem;
  display: inline-block; 
}

.title-highlight {
  color: var(--main-color);
}

@media (max-width: 768px) {
  .title-wrapper {
    margin-bottom: 5px;
  }
  .title-heading {
    font-size: 1.8rem;
  }
}