.home-section {
  height: calc(100vh - 63px);
  margin-top: 4%;
  padding: 1px 5%;
  display: flex;
  flex-direction: column;
  overscroll-behavior-inline: hidden;
  justify-content: center;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text-content h1 span {
  font-size: 2.5rem;
  font-weight: 750;
  line-height: 1.2;
  color: var(--primary-color);
}

.home-button-container{
  margin-top: 3%;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    gap: 3rem;
    text-align: center;
  }
 
  .home-button-container{
    justify-content: center;
  }
  
  .text-content h1 {
    font-size: 1.8rem;
  }
  
  .text-content h1 span {
    font-size: 2.2rem;
  }
  .scroll{
    display: none;
  }
}


@media (max-width: 480px) {
  .home-section {
    padding: 2rem 1rem;
  }
  
  .text-content h1 {
    font-size: 1.6rem;
  }
  
  .text-content h1 span {
    font-size: 2rem;
  }
   .scroll{
    display: none;
  }
}