.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: var(--card-bg-color);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--box-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px var(--box-shadow-hover);
}

.card h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.skills .box .card p {
    font-size: 0.9rem;
    line-height: 1.6;

}