 .education {
     min-height: calc(100vh - 63px);
  padding-top: 150px;
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
 }
 @media(max-width:720px){
.education{
    padding-top: 1px;
}
 }